[gcode_macro _SERVICE_POS]
gcode:
    {% if printer.toolhead.homed_axes != 'xyz' %}
        G28
    {% endif %}
    {% set x_pos = printer.toolhead.axis_maximum.x / 2 %}
    {% set y_pos = printer.toolhead.axis_minimum.y + 200 %}
    _IDEX_MODE MODE=primary
    G1 X{x_pos} Y{y_pos} F{printer.toolhead.max_velocity * 60 / 2}
#[gcode_macro BED_SCREWS_ADJUST]
#rename_existing:BED_SCREWS_ADJUST1
#gcode:
#  G28
#  BED_SCREWS_ADJUST1
#  BED_SCREWS_ADJUST_PROMPT
#[gcode_macro BED_SCREWS_ADJUST_PROMPT]
#gcode:
#    RESPOND TYPE=command MSG="action:prompt_begin Ручная подстройка стола"
#    RESPOND TYPE=command MSG="action:prompt_text Возможные режимы"
#    RESPOND TYPE=command MSG='action:prompt_footer_button Отменить | ABORT |primary'
#    RESPOND TYPE=command MSG="action:prompt_footer_button Повторить | ADJUSTED |secondary" #Серый
#    RESPOND TYPE=command MSG="action:prompt_footer_button Принять | ACCEPT |info" #Голубой |warning" #оранжевый
#    RESPOND TYPE=command MSG="action:prompt_show"

# [gcode_macro DUMP_SENSORS]
# gcode:
#   {action_respond_info(printer.heaters.available_heaters|join(', '))}
#   {action_respond_info(printer.heaters.available_sensors|join(', '))}
# [gcode_macro SET_GCODE_OFFSET]
# rename_existing: SET_GCODE_OFFSET_ORIG
# variable_restored: False  # Mark whether the var has been restored from NVM
# variable_runtime_offset: 0
# gcode:
#   {% if params.Z_ADJUST %}
#     SET_GCODE_VARIABLE MACRO=SET_GCODE_OFFSET VARIABLE=runtime_offset VALUE={ printer["gcode_macro SET_GCODE_OFFSET"].runtime_offset + params.Z_ADJUST|float }
#   {% endif %}
#   {% if params.Z %} 
#     {% set paramList = rawparams.split() %}
#     {% for i in range(paramList|length) %}
#       {% if paramList[i]=="Z=0" %}
#         {% set temp=paramList.pop(i) %}
#         {% set temp="Z_ADJUST=" + (-printer["gcode_macro SET_GCODE_OFFSET"].runtime_offset)|string %}
#         {% if paramList.append(temp) %}{% endif %}
#       {% endif %}
#     {% endfor %}
#     {% set rawparams=paramList|join(' ') %}
#     SET_GCODE_VARIABLE MACRO=SET_GCODE_OFFSET VARIABLE=runtime_offset VALUE=0
#   {% endif %}
#   SET_GCODE_OFFSET_ORIG { rawparams }

# [gcode_macro TOOLSHIFT]
# gcode:
#   {% if printer.configfile.config.dual_carriage is defined %}
#       {% if printer.dual_carriage.carriage_0 == "PRIMARY" %}
#         {% set dist = printer.configfile.config.dual_carriage.position_endstop|int - printer.toolhead.position.x|int %}
#         SET_DUAL_CARRIAGE CARRIAGE=0 MODE=PRIMARY
#         SET_DUAL_CARRIAGE CARRIAGE=1 MODE=COPY
#         {% if printer.toolhead.position.x|int >= printer.configfile.config.stepper_x.position_max|int / 2  %} #Каретка по середине или правее?
#           SAVE_GCODE_STATE NAME=activate1
#           G90
#           G1 X{printer.toolhead.position.x|int - dist} F{printer.configfile.config.stepper_x.homing_speed|int*60*2}
#           RESTORE_GCODE_STATE NAME=activate1
#           SET_DUAL_CARRIAGE CARRIAGE=0 MODE=PRIMARY
#           SAVE_GCODE_STATE NAME=park0
#           G90
#           G1 X{printer.configfile.config.stepper_x.position_endstop|int} F{printer.configfile.config.stepper_x.homing_speed|int*60*2}
#           SET_DUAL_CARRIAGE CARRIAGE=1 MODE=PRIMARY
#           RESTORE_GCODE_STATE NAME=park0
#         {% else %}
#           SAVE_GCODE_STATE NAME=park0
#           G90
#           G1 X{printer.configfile.config.stepper_x.position_endstop|int} F{printer.configfile.config.stepper_x.homing_speed|int*60*2}
#           RESTORE_GCODE_STATE NAME=park0
#           SET_DUAL_CARRIAGE CARRIAGE=1 MODE=PRIMARY
#           SAVE_GCODE_STATE NAME=activate1
#           G90
#           G1 X{dist} F{printer.configfile.config.stepper_x.homing_speed|int*60*2}
#           RESTORE_GCODE_STATE NAME=activate1
#         {% endif %}
#       {% endif %}

#       {% if printer.dual_carriage.carriage_1 == "PRIMARY" %}
#         {% set dist = printer.toolhead.position.x|int - printer.configfile.config.stepper_x.position_endstop|int %}
#         SET_DUAL_CARRIAGE CARRIAGE=0 MODE=PRIMARY
#         SET_DUAL_CARRIAGE CARRIAGE=1 MODE=COPY
#         {% if printer.toolhead.position.x|int >= printer.configfile.config.stepper_x.position_max|int / 2  %}
#           SAVE_GCODE_STATE NAME=activate1
#           G90
#           G1 X{printer.configfile.config.dual_carriage.position_endstop|int - printer.toolhead.position.x|int} F{printer.configfile.config.stepper_x.homing_speed|int*60*2}
#           RESTORE_GCODE_STATE NAME=activate1
#           SET_DUAL_CARRIAGE CARRIAGE=0 MODE=PRIMARY
#           SAVE_GCODE_STATE NAME=park0
#           G90
#           G1 X{dist} F{printer.configfile.config.stepper_x.homing_speed|int*60*2}
#           SET_DUAL_CARRIAGE CARRIAGE=1 MODE=PRIMARY
#           RESTORE_GCODE_STATE NAME=park0
#         {% else %}
#           SAVE_GCODE_STATE NAME=park0
#           G90
#           G1 X{printer.toolhead.position.x|int} F{printer.configfile.config.stepper_x.homing_speed|int*60*2}
#           RESTORE_GCODE_STATE NAME=park0
#           SET_DUAL_CARRIAGE CARRIAGE=1 MODE=PRIMARY
#           SAVE_GCODE_STATE NAME=activate1
#           G90
#           G1 X{printer.configfile.config.dual_carriage.position_endstop|int} F{printer.configfile.config.stepper_x.homing_speed|int*60*2}
#           SET_DUAL_CARRIAGE CARRIAGE=0 MODE=PRIMARY
#           RESTORE_GCODE_STATE NAME=activate1
#         {% endif %}
#       {% endif %}

#   {% endif %}