[mcu extruder]
canbus_uuid: 36e0b6a24b6c
[temperature_sensor EBB_1] #Температурный сенсор хоста
sensor_type: temperature_mcu
sensor_mcu:extruder
min_temp: 0
max_temp: 150
[static_digital_output EBB1_FAN]
pins: extruder:PA0, extruder:PA1

[filament_switch_sensor 1]
pause_on_runout: True
#runout_gcode:
event_delay: 3.0
switch_pin: extruder:PB8
[filament_motion_sensor 1m]
detection_length: 5.76#2.88
extruder:extruder
switch_pin:extruder:PB9
pause_on_runout:True
#runout_gcode:
#insert_gcode:
#event_delay:
#pause_delay:
#   See the "filament_switch_sensor" section for a description of the
#   above parameters.
[thermistor T-D500]
temperature1: 25
resistance1: 4721000
temperature2: 200
resistance2: 8000
temperature3: 300
resistance3: 1092

[tmc2209 extruder] #Секция конфигурации драйвера  экструдера
uart_pin: extruder:PA15
run_current: 0.9
#interpolate: True #Интерполяция, включение дробления шага до 1/256
#stealthchop_threshold: 999999 #Включение тихого режима драверов, могут возникнуть проблемы при печати если кинематика принтера собрана плохо и присутсвует излишнее трение в узлах


[verify_heater extruder] #Защита от перегрева экструдера
max_error: 200
check_gain_time:20
hysteresis: 50
heating_gain: 2


[adxl345]
cs_pin:extruder:PB12
spi_speed: 5000000
spi_software_sclk_pin:extruder:PB10
spi_software_mosi_pin:extruder:PB11
spi_software_miso_pin:extruder:PB2
axes_map: z, x, y
rate: 3200

[resonance_tester]
accel_chip: adxl345
probe_points:
    150,105,300  # X100, Y100, Z20
min_freq: 5
max_freq: 133
accel_per_hz: 75
hz_per_sec: 2
[probe] ##Секция конфигурации датчика автокалибровки
pin:extruder:PB6
x_offset: -24.5 #Расстояние от сопла до датчика автокалибровки
y_offset: -7
#z_offset = -1.099
speed:10 #Скорость поднятия Z при автокалибровке
samples: 1 #Количество попыток калбировки на одной точке
sample_retract_dist: 1
[fan_generic extruder_fan] #Вентилятор
pin: !PF8
enable_pin:PA1
hardware_pwm: False
cycle_time: 0.005
off_below: 0.1
kick_start_time: 0.1
# max_power
shutdown_speed: 0

