[output_pin _Cooler]
pin: PF5
value:1
shutdown_value:0
[filament_switch_sensor W]
switch_pin: !PD12
event_delay: 5.0
pause_on_runout: False
# runout_gcode:
    # {action_respond_info("Уровень воды слишком низок, залейте воду!")}