[save_variables]
filename: /home/biqu/printer_data/config/variables.cfg

[mcu]
# serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_44002C001351313433343333-if00
canbus_uuid: 3d9048ba42e1
[temperature_sensor Хост] #Температурный сенсор хоста
sensor_type: temperature_host
min_temp: 0
max_temp: 90
# [mcu host]
# serial: /tmp/klipper_host_mcu