[respond]
#INCLUDE(Упоминания других файлов конфигурации, для удобства хранения и редактирования)
[include EXTRUDER.cfg]
[include EXTRUDER1.cfg]
[include macros.cfg] 
[include fluidd.cfg]
[include MCU.cfg]

[include LED.cfg]
[include FAN.cfg]
[include STEPPERS.cfg]
[include CHAMBER.cfg]
[include INPUT_SHAPER.cfg]
[include HEATER_BED.cfg]

[include shell_command.cfg]
[force_move]
enable_force_move: True
[exclude_object]
[gcode_arcs]
resolution: 0.1
[virtual_sdcard]
path: ~/printer_data/gcodes
#   The path of the local directory on the host machine to look for
#   g-code files. This is a read-only directory (sdcard file writes
#   are not supported). One may point this to OctoPrint's upload
#   directory (generally ~/.octoprint/uploads/ ). This parameter must
#   be provided.
on_error_gcode:
    RESPOND TYPE=error MSG="Ошибка печати"
    M84
    TURN_OFF_HEATERS
#   A list of G-Code commands to execute when an error is reported.
#   See docs/Command_Templates.md for G-Code format. The default is to
#   run TURN_OFF_HEATERS.

[idle_timeout]
gcode:
    SET_LED LED=status_bar GREEN=0 RED=0 BLUE=0
    SET_LED LED=LED WHITE=0
    TURN_OFF_HEATERS
    M84
timeout: 7200

[printer] #Конфигурация ограничений принтера 
kinematics: hybrid_corexy #Кинематика
max_velocity: 150 #Максимальная скорость
max_accel: 2000 #Максимальное ускорение
max_z_velocity: 20 #Максимальня скорость оси Z
max_z_accel: 500 #Максимальное ускорение по оси Z
[bed_mesh] #Сетка автокалбировки
speed: 200 #Скрость перемещения XY при автокалбировке
horizontal_move_z: 3 #Величина перемещения Z при автокалбировке
mesh_min: 90,30 #Минимальная точка калибровки
mesh_max: 300,270 #Максимальная точка калибровки
probe_count: 6, 6 #Сетка автокалибровки (количество точек)
algorithm: bicubic #Алгоритм автокалибровки

[extruder] #Секция конфигурации экструдера
step_pin: extruder:PD0
dir_pin: !extruder:PD1
enable_pin: !extruder:PD2
microsteps: 16
rotation_distance: 4.726
nozzle_diameter: 1.2
filament_diameter: 1.8 #При смене филамента проверяйте это значение по факту, к примеру катушки НИТ могут быть нестанартного диаметра 
heater_pin: extruder:PB13 # 
sensor_pin: extruder:PA3
sensor_type: T-D500
#control = pid
#pid_kp = 29.643
#pid_ki = 2.272
#pid_kd = 96.712
min_temp: -100
max_temp: 550
min_extrude_temp:0
max_extrude_only_distance: 200
pressure_advance: 0 #Это значение должно быть откалибровано для каждого вида пластика, ввиду различной текучести материалов 
pressure_advance_smooth_time: 0.040 
[heater_generic DAS]
heater_pin:PA5
sensor_pin:extruder:PA4
spi_speed: 4000000
spi_software_sclk_pin:extruder:PA5
spi_software_mosi_pin:extruder:PA7
spi_software_miso_pin:extruder:PA6
sensor_type: MAX31865
min_temp:0
max_temp:500
#control:pid
#pid_Kp:100
#pid_Ki:100
#pid_Kd:100

[heater_bed] #Секция конфигурации стола
heater_pin: PF9
# sensor_type:ATC Semitec 104GT-2
# sensor_pin:PB1
sensor_type: temperature_combined
sensor_list: temperature_sensor B1,temperature_sensor B2
combination_method: mean
maximum_deviation: 50
#control = pid
#pid_kp = 44.344
#pid_ki = 0.190
#pid_kd = 2585.817
min_temp:-100
max_temp:260 
[heater_generic chamber] #Нагреватель термокамеры
heater_pin: PF7
sensor_type: 104GT_CHAMBER
sensor_pin: PC5
#control: pid
#pid_Kp:33.011
#pid_Ki:0.125
#pid_Kd:2187.370
min_temp: -100
max_temp: 260

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_generic DAS]
#*# control = pid
#*# pid_kp = 8.232
#*# pid_ki = 1.220
#*# pid_kd = 13.891
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 27.774
#*# pid_ki = 0.809
#*# pid_kd = 238.504
#*#
#*# [probe]
#*# z_offset = 0.410
#*#
#*# [heater_generic chamber]
#*# control = pid
#*# pid_kp = 46.714
#*# pid_ki = 0.571
#*# pid_kd = 954.718
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 47.717
#*# pid_ki = 0.807
#*# pid_kd = 705.559
#*#
#*# [input_shaper]
#*# shaper_type_x = 3hump_ei
#*# shaper_freq_x = 78.8
#*# shaper_type_y = 2hump_ei
#*# shaper_freq_y = 67.8
#*#
#*# [bed_mesh Текущий]
#*# version = 1
#*# points =
#*# 	  -0.000000, 0.156250, 0.313750, 0.212500, 0.153750, 0.203750
#*# 	  0.245000, 0.363750, 0.383750, 0.273750, 0.031250, -0.217500
#*# 	  0.177500, 0.201250, 0.298750, 0.266250, -0.021250, -0.418750
#*# 	  0.090000, 0.118750, 0.406250, 0.413750, 0.055000, -0.422500
#*# 	  0.181250, 0.217500, 0.576250, 0.532500, 0.083750, -0.347500
#*# 	  0.503750, 0.582500, 0.745000, 0.561250, 0.047500, -0.402500
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 90.0
#*# max_x = 300.0
#*# min_y = 30.0
#*# max_y = 270.0
